<%- include("partials/header") -%>
<div class="body">
    <%posts.forEach((post)=>{%>
        <%let hsc = post.title%>
        <%let hsc2= post.post.substring(0,290) +"...."%> 
        <h2><strong><%=hsc%></strong></h2>
        <p><%=hsc2%><a href="/posts/<%=post.title%>">Read More</a></p><br>

    <%})%> 

</div> 
<div class="newsletter content trends">
    <h2>Top Tech News</h2>
    <%for(i=0; i<trends.length; i++){%>
        <ul>
            <li><a href=<%=trends[i].url%>> <%=trends[i].title%> </a></li>
        </ul> 

    <%}%>
    
   
  </div>

<%- include("partials/other") -%>
<%- include("partials/footer") -%>