<%- include("partials/header") -%>
<div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner ">
      <div class="carousel-item active">
        <img src="https://fastly.picsum.photos/id/387/200/300.jpg?grayscale&hmac=j-8z2unO2w1ST40F6Mdv_upKEzUDUaYkwjHe8BPzqM4" class="d-block w-25 p-3">
      </div>
      <div class="carousel-item">
        <img src="https://fastly.picsum.photos/id/648/200/300.jpg?blur=5&hmac=oTFJNXGu-tA6RUXYTYIEIzur2Fo9FFMY0PwpfOdDdXM" class="d-block w-25 p-3" >
      </div>
      <div class="carousel-item">
        <img src="https://fastly.picsum.photos/id/870/200/300.jpg?blur=2&grayscale&hmac=ujRymp644uYVjdKJM7kyLDSsrqNSMVRPnGU99cKl6Vs" class="d-block w-25 p-3">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
<div class="album py-5 px-3" >
    <div class="container-fluid">
      <div class="row px-5 py-3 ">
        <%posts.forEach((post)=>{%>
            <%let hsc = post.title%>
            <%let hsc2= post.post.substring(0,200) +"...."%> 
            <%let hsc3= post.date%>
            <%let hsc4= post.image+"'"%>
            
            <div class="col-lg-4 col-md-6  ">
                <div class="card w-80 shadow-sm">
                  <img src=<%=hsc4%> width="100%" height="350" >
                  <div class="card-body">
                    <h2 class="card-text"><strong><%=hsc%></strong></h2>
                    <p class="card-text"><%=hsc2%><a href="/posts/<%=post.title%>">Read More</a></p>
                    <div class="d-flex justify-content-between align-items-center">                    
                        <p style=" display: inline; padding: 0.3%;"><%=hsc3%></p>                    
                    </div>
                  </div>
                </div>
              </div>       
        <%})%> 
      </div>
    </div>
</div>

<%- include("partials/footer") -%> -->